.vre-composer {
    display: flex;
}

.export-btn {
    position: absolute !important;
    width: 215px;
    top: 440px;
    left: 20px;
}

.sidebar-items-container {
    overflow: scroll;
    max-height: 350px;
}